<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing</title>

    <style>
        .wc {
            text-decoration: none;
            font-size: small;
            font-family: Arial, Helvetica, sans-serif;
            color: coral;
            background-color: black;
        }
    </style>
</head>
<body>
    <h2>byefrom WizCodes</h2>
    
    <a class="wc" href="ok.html">wizcodes</a>
    
</body>
</html>
